
 body {
     background-color: #ffd31d;
     font-family: 'Bangers';
 }
 .burgerList {
     list-style-type: none;
     
     
 }
 .burgerEach:before {
        content: '\1F354';
        margin-left: -20px;
        margin-right: 10px;
        
 }
 .burger-title {
     color: #d63447;
     letter-spacing: 3px;
     font-size: 80px;
 }
 .burgerColumns {
     color: #d63447;
     
 }
 .change-data {
     background-color: #f57b51;
     margin: 5px;
 }
 .delete-burger{
     background-color: #f6eedf;
     margin: 5px;
 }
 .form-control {
     width: 150%;
 }
